@font-face {
  font-family: general-sans-regular;
  src: url(./fonts/GeneralSans-Regular.otf);
}

@font-face {
  font-family: general-sans-medium;
  src: url(./fonts/GeneralSans-Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: general-sans-regular;
  color: white;
}

#mousecircle {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  z-index: 999999;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  background-color: black;
}

.hide {
  width: fit-content;
  overflow: hidden;
}

.hiding {
  transform: translateY(100%);
}
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

#nav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
}

#nav a {
  color: white;
  text-decoration: none;
}

#heading {
  margin-top: 60px;
}
#heading h1 {
  margin-left: 40px;
  font-size: 20vh;
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 900;
  opacity: 0.6;
}

#heading #secondh1 {
  margin-left: 220px;
}

#based {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}

/* #based h4 {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: right;
} */

#heading2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: blue;
  margin-top: 100px;
  padding-right: 50px;
}

#heading h3 {
  text-transform: uppercase;
  margin-top: 0.5vw;
  font-size: 1vw;
  text-align: right;
}

#herofooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  position: absolute;
  bottom: 2%;
  padding: 0 2vw;
}

#herofooter a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vh;
}

#herofooter #arrows {
  display: flex;
  gap: 5px;
}

#herofooter #arrows .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #a8a8a8;
}

#second {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  padding-right: 20vh;
  padding-left: 4vh;
  color: white;
}

.elem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  text-transform: uppercase;
  padding: 5vh 0;
  position: relative;
}

.elem h1 {
  opacity: 50%;
  letter-spacing: 2px;
  font-size: 13vh;
}

.elemlast {
  border-bottom: 1px solid gray;
}

.elem img {
  display: none;
  position: absolute;
  height: 80%;
  z-index: 999;
}

#about {
  width: 100%;
  color: white;
  display: flex;
  gap: 80px;
  align-items: center;
  padding: 10vw 10vw;
  padding-left: 40vw;
}

#about img {
  width: 220px;
}

#para {
  margin-top: 80px;
  width: 80%;
}
#para p {
  margin-bottom: 25px;
  font-size: 18px;
  width: 24vw;
  line-height: 1.5;
}

#para h5 {
  margin-bottom: 8px;
  font-size: 14px;
  opacity: 50%;
  text-transform: uppercase;
}

#para a {
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid white;
  padding: 6px 18px;
}

#para a:hover {
  background-color: white;
  color: black;
}

#sub {
  color: white;
  padding: 20px 50px;
  padding-bottom: 150px;
}

#sub h3 {
  opacity: 0.5;
  font-size: 14px;
  text-transform: uppercase;
}

#sub h2 {
  padding-top: 2px;
  text-transform: uppercase;
  font-size: 16px;
}

#footer {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  padding: 0 50px;
}

#right-footer {
  display: flex;
  gap: 3vw;
  font-size: 16px;
}

#left-footer {
  display: flex;
  gap: 1.7vw;
  font-size: 20px;
}

#right-footer a {
  font-weight: 900;
  text-decoration: none;
}
