@font-face {
  font-family: general-sans-regular;
  src: url(./fonts/GeneralSans-Regular.otf);
}

@font-face {
  font-family: general-sans-medium;
  src: url(./fonts/GeneralSans-Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: general-sans-regular;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#nav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
}

#nav a {
  color: white;
  text-decoration: none;
}

#heading {
  margin-top: 90px;
}
#heading h1 {
  margin-left: 30px;
  font-size: 12vh;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 900;
  opacity: 0.6;
}

#heading #secondh1 {
  margin-left: 150px;
}

#based {
  width: fit-content;
}

#based h4 {
  text-transform: uppercase;
  text-align: right;
}

#heading2 {
  margin-top: 100px;
  padding-right: 50px;
}

#heading h3 {
  text-transform: uppercase;
  margin-top: 0.5vw;
  font-size: 1vw;
  text-align: right;
}

#herofooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  position: absolute;
  bottom: 2%;
  padding: 0 2vw;
}

#herofooter a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vh;
}

#herofooter #arrows {
  display: flex;
  gap: 5px;
}

#herofooter #arrows .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #a8a8a8;
}
