@font-face {
  font-family: general-sans-regular;
  src: url(./fonts/GeneralSans-Regular.otf);
}

@font-face {
  font-family: general-sans-medium;
  src: url(./fonts/GeneralSans-Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: general-sans-regular;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#nav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
}

#nav a {
  color: white;
  text-decoration: none;
}

#heading {
  margin-top: 60px;
}
#heading h1 {
  margin-left: 40px;
  font-size: 20vh;
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 900;
  opacity: 0.6;
}

#heading #secondh1 {
  margin-left: 220px;
}

#based {
  width: fit-content;
}

#based h4 {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: right;
}

#heading2 {
  margin-top: 100px;
  padding-right: 50px;
}

#heading h3 {
  text-transform: uppercase;
  margin-top: 0.5vw;
  font-size: 1vw;
  text-align: right;
}

#herofooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  position: absolute;
  bottom: 2%;
  padding: 0 2vw;
}

#herofooter a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vh;
}

#herofooter #arrows {
  display: flex;
  gap: 5px;
}

#herofooter #arrows .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #a8a8a8;
}

#second {
  background-color: black;
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  padding-right: 20vh;
  padding-left: 4vh;
  color: white;
}

.elem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  text-transform: uppercase;
  padding: 5vh 0;
  position: relative;
}

.elem h1 {
  opacity: 50%;
  letter-spacing: 2px;
  font-size: 13vh;
}

.elemlast {
  border-bottom: 1px solid gray;
}

.elem img {
  display: none;
  position: absolute;
  height: 80%;
  z-index: 999;
}
